.fa-brain{
    color: red;
    text-shadow: 0 0 2rem rgb(91, 15, 221);
}
.fa-house-user{
    color: rgb(70, 92, 238);
    text-shadow: none;
}
.congcu{
    /* background-color: aqua; */
    width: 86vw;
    height: auto;
    margin-left: 12vw;
    margin-top: 2vh;
}
.AI{
    display: inline-block;
    box-shadow: 0rem 0rem 1rem cyan;
    margin: 2vw;
    border-radius: 50%;
}
img{
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
}
@media only screen and (max-width: 600px) {
    img{
        width: 10rem;
        height: 10rem;
    }
    .congcu{
        /* background-color: aqua; */
        width: auto;
        height: 100vh;
        margin-left: 30vw;
        margin-top: 2vh;
    }
}